<footer>
    <div>
        <a href="/contact" class="about">Contact</a>
        <a href="/about" class="contact">About</a>
        <br>
        <p class="copyright">
          &copy;Matchplay
         </p>
    </div>

     <div class="social">
        <p id="follow">Follow us on Social Media!</p>
        <ul>
           <li>
              <a target="_blank" href="https://facebook.com"><img src="/img/facebook.png" alt=""></a>
           </li>
           <li>
              <a target="_blank" href="https://twitter.com"><img src="/img/twitter.png" alt=""></a>
           </li>
           <li>
              <a target="_blank" href="https://instagram.com"><img src="/img/instagram.png" alt=""></a>
           </li>
        </ul>
    </div>
</footer>