<header class="main-header">
    <a href="/">
    <img id="tennisBall" src="/img/tennis-ball.png" alt="tennis ball">
    </a>
    <nav class="user-nav">
       <a href="/connections/newConnection">Host Tennis</a>
      <% if(typeof session !== 'undefined' && session.theUser) { %>
         <a href="/user/savedConnections">Your Tennis</a>
         <a href="/user/signout">Signout</a>
      <% } else { %>
         <a href="/user/login">Login</a>
         <a href="/user/signup">Signup</a>
       <% } %>
    </nav>
 </header>