<meta charset="utf-8">
<title>Matchplay</title>
<meta name="description" content="Tennis Site to create connections">
<meta name="author" content="Ezra">
<link rel="stylesheet" href="/styles.css">
<link rel="icon" type="image/png" href="/img/tennis-ball.png">