<!doctype html>
<html lang="en">
   <head>
      <%- include('partials/meta.ejs'); -%>
   </head>
   <body>
      <%- include('partials/header.ejs'); -%> 
      <main>
         <%- include('partials/navigation.ejs'); -%>
         <h3>Contact Page</h3>
         <p>You can contact us here:</p>
         <p>Email: myEmail@uncc.edu</p>
         <p>Phone: 1-800-273-0922</p>
      </main>
      <%- include('partials/footer.ejs'); -%>
   </body>
</html>