<!doctype html>
<html lang="en">
   <head>
      <%- include('partials/meta.ejs'); -%>
   </head>
   <body>
      <%- include('partials/header.ejs', {session: session}); -%> 
      <main>
         <%- include('partials/navigation.ejs'); -%>
         <h3>Welcome to the Site!</h3>
         <p>This Site allows you greater access into the world of tennis!</p>
         <p>This site hosts a community of tennis players ready to meet up and play</p>
         <p>ranked matches! It also allows you to register and set up tennis lessons!</p>
      </main>
      <%- include('partials/footer.ejs'); -%>
   </body>
</html>
